@model IEnumerable<BookModel>

<div class="row">
    @foreach (var item in Model)
    {
       <div class="col-6 col-md-4">
           <partial name="_bookThumbnail" model="item"/>
       </div>
       <br/>
    }
</div>