@model IEnumerable<BookModel>

<div class="container">
    <h1>All Books</h1>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-6 col-md-4">
               <partial name="_bookThumbnail" model="@item"/>
            </div>
        }
        </div>
</div>




